<div class="compare-section">
  <div class="container">
    <h1>SACHIN vs OTHER PLAYERS</h1>
    <div class="row">
      <div class="col-md-6">
        <div #piechart1></div>
        <h4>Average</h4>
      </div>
      <div class="col-md-6">
        <div #piechart2></div>
        <h4>Total Runs</h4>
      </div>
      <div class="col-md-6">
        <div #piechart3></div>
        <h4>Centuries</h4>
      </div>
      <div class="col-md-6">
        <div #piechart4></div>
        <h4>Innings</h4>
      </div>
    </div>
    <div class="quote">
      <h1>"IF CRICKER WAS A RELEGION THEN SACHIN WOULD BE THE GOD"</h1>
    </div>
  </div>
</div>